.movie-list {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-list {
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
}
