.movie-card-header {
  width: 100vw;
  align-items: center;
  background: rgb(238,174,202);
  background: linear-gradient(126deg, rgba(238,174,202,1) 0%, rgba(203,179,214,1) 50%, rgba(148,187,233,1) 100%);
  border-bottom: 5px solid black;
  color: black;
  display: flex;
  height: 60px;
  justify-content: center;
}

.movie-card-header a {
  position: absolute;
  right: 20px;
}