.movie-card {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 40px 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 250px;
  height: 350px;
  margin: 10px 0 10px 0;
  transition: 0.3s;
}

.movie-card img {
  border-radius: 40px 0;
  margin-right: 50px;
  width: 100%;
}

.content {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 10px;
}
.content p {
  font-size: 0.9rem;
}

.movie-card:hover {
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
